/* Tip, copy paste from 13c.01.01 & 13c.01.02 to get fonts and colors up and running ... */

* {
  margin: 0px;
  padding: 0px;
  list-style: none;
  box-sizing: border-box;

  z-index: 1;
}

:root {
  /* fonts */
  --font-display: "Heebo", sans-serif;
  --font-body: "Roboto", sans-serif;

  /* colors */
  --blue: #3153ff;
  --lime: #e1ff2d;
  --pink: #fc8bff;
  --black: #000000;
  --white: #ffffff;
}

html {
  font-size: 1em;
  font-family: var(--font-body);
  font-size: 1em;
}

/* HEADINGS & TEXT STYLING */

h1,
h2,
h3 {
  font-family: var(--font-display);
  font-weight: 700;
}

h1 {
  font-size: 5.6rem;
  line-height: 5rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 3.9rem;
  line-height: 3rem;
  margin: 2rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
}

header p {
  font-size: 1.3rem;
  line-height: 1.5rem;
}

section {
  margin-bottom: 2rem;
}

/* NAVIGATION */

nav {
  display: flex;
  flex-direction: row;

  padding: 2rem;
  padding-inline: 3rem;

  color: var(--black);
  background-color: transparent;
  font-size: 1.3rem;
  font-weight: 500;
}

nav a {
  color: var(--black);
  text-decoration: none;
}

nav ul {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
}

/* GRAPHICS */

.top_graphics {
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: end;

  z-index: 0;
}

.top_graphics img {
  max-width: 60%;
}

.bottom_graphics {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;

  z-index: 0;
}

.bottom_graphics img {
  max-width: 60%;
}

/* HEADER */

header {
  /* display: grid; */
  margin: 2rem;
}

.header_intro {
  margin: 2rem;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.link_icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
  /* flex-direction: row; */
  /* justify-content: space-between; */

  margin-top: 3rem;
  margin-right: 6rem;
}

.iconset {
  display: grid;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
}

/* PROJECTS SECTION */

.projects_cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  margin: 2rem;
  gap: 2rem;
}

.projects_card {
  display: grid;
  max-width: 100%;

  box-shadow: 1px 2px 3px lightgray;
  border-radius: 3px;
}

.projects_card_graphics {
  aspect-ratio: 1/0.75;
  width: 100%;
  object-fit: cover;

  z-index: 1;
}

.projects_card_graphics img {
  width: 100%;
  filter: grayscale(100);
}

.projects_card_text {
  z-index: 2;
  position: relative;
  min-width: 0;
  overflow-wrap: break-word;

  align-self: end;
  margin: 2rem;

  justify-items: center;
}

/* TEAM */

#learn {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-bottom: 0;
}

#learn h2 {
  grid-row: 1;
}

#learn section {
  margin: 0;
  margin-inline: 3rem;
  /* margin-bottom: 1rem; */
}

#learn article {
  grid-row: 2, 3;
  margin-inline: 2rem;

  display: grid;
  grid-template-columns: 1fr;
  gap: 5rem;

  align-items: center;
}

.learn_graphics {
  /* background-image: url(images/pexels-michael-burrows-7147701.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%; */
  background-color: lightgrey;
  aspect-ratio: 1.5/1;
  width: 100%;
}

.learn_text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* FOOTER */

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
  gap: 2rem;

  flex-wrap: wrap;

  background-color: var(--black);
  color: var(--white);
}

footer a {
  color: var(--white);
}

footer section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin: 0;

  justify-items: center;
}

footer .credit {
  display: grid;
  align-content: center;
}

/* BUTTONS & HOVER EFFECTS */

button {
  display: inline-block;
  height: 3rem;
  padding: 1rem 2rem;
  border: none;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  background-color: var(--black);
  color: var(--white);
  overflow: hidden;
  border-radius: 5px;
}

button:hover {
  scale: 102%;
  cursor: pointer;
}

button::after {
  content: "";
  display: block;
  background-color: var(--lime);
  width: 1rem;
  height: 13rem;
  position: relative;
  top: -14rem;
  left: -3.2rem;
  rotate: 45deg;
}

button:hover::after {
  transition: all 0.6s;
  transform: translate(15.5rem, 0);
}

/* links & nav links*/
a {
  height: auto;
  width: auto;
  display: inline-block;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

a,
ul a {
  overflow: hidden;
}

a::after {
  content: "";
  display: block;
  max-width: 100%;
  /* width: 0; */
  height: 2.5px;
  background-color: var(--blue);

  position: relative;
  left: 100%;
}

a:hover::after {
  transition: all 0.3s ease-in-out;
  transform: translate(-100%, 0) scaleX(100%);
}

/* cards */
.projects_card:hover {
  transform: scale(103%);
  transition: all 0.1s ease-in-out;
}

/* icons */
.iconset:hover img {
  opacity: 60%;
}

/* MEDIA QUERIES */

/* tablet */
@media only screen and (min-width: 700px) {
  /* product */
  #product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
    gap: 2rem;
  }

  .product_graphics {
    grid-row: 2;
    aspect-ratio: 1/1.25;
  }

  .product_text {
    grid-row: 2;
    margin: 0;
    display: grid;
    align-items: center;
  }

  /* highlight */
  .highlight_small_cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
  }

  .highlight button {
    justify-self: end;
  }
}

/* desktop */
@media only screen and (min-width: 900px) {
  /* header */
  header {
    grid-template-columns: 1.25fr 1fr;
    margin: 4rem;
    margin-top: 4rem;
  }

  .header_graphics {
    aspect-ratio: 1.25/1;
    align-self: center;
  }

  .header_text {
    align-self: end;
    margin: 0;
  }

  /* sections */
  section {
    margin: 4rem;
  }

  /* team */
  /* #learn {
    grid-template-columns: 1fr 1fr;
    gap: 0;
  } */

  #learn article {
    grid-template-columns: 1fr 1fr;
  }

  /* .learn_graphics {
    aspect-ratio: 1/1;
  } */
}

/* wide screen */
@media only screen and (min-width: 1100px) {
}
